<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>habitaciones74</h1>
    <p><%= habitacion.id %></p><p><%= habitacion.NoHabitacion %></p><p><%= habitacion.Capacidad %></p><p><%= habitacion.Precio %></p>
</body>
</html>