<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habitaciones74</title>
</head>
<body>
    <h1>habitaciones74</h1>
    <ul>
        <% Habitaciones74.forEach(habitacion => { %>
            <a href="/habitaciones74/<%= habitacion.id %>"></a><li><%= habitacion.NoHabitacion %></li>
        <% }) %>
    </ul>
</body>
</html>